#contador{
    color: brown;
    font: normal 40pt Arial bold;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    border: coral 10px;
    width: 200px;
    height: 200px;
    background: goldenrod;
}
p{
    position: absolute;
    left: 40%;
    right: 50%;
    top: 10px;
}

.btn{
    display: block;
    margin: 0 auto;
    }