#contador{
    color: brown;
    font: normal 40pt Arial bold;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    border: coral 10px;
    width: 200px;
    height: 200px;
    background: goldenrod;
}
p{
    position: absolute;
    left: 40%;
    right: 40%;
    top: 10px;
    text-align: center;
}

.btn{
    display: block;
    margin: 0 auto;
    }

    #txtnum{
        width:120px;
        margin-top: 30px;
        position: absolute;
        left: 20%;
        right: 50%;
    }